[%  PROCESS config/page.tt
          + config/site.tt
          + config/url.tt
          + config/col.tt
          + config/images.tt
          + config/scopes.tt
          + config/searchtypes.tt
-%]
