[% site.url = {
		root					= rooturl
		images					= "$rooturl"
		css						= "$rooturl"
		mobius_search			= "http://mobius.missouri.edu/search"
		merlin_search_scope		= [	"/search~"
									"/search~S1"
									"/search~S2"
									"/search~S3"
									"/search~S4"
									"/search~S5"
									"/search~S6"
									"/search~S7"
								  ]

		merlin_gateway			= "http://merlin.missouri.edu/"
	}
-%]