<a href="[% tablink %]">[% SWITCH tabimage.state;
		CASE "down";
			INCLUDE misc/image.tt image=tabimage.down | trim;
		CASE "over";
			INCLUDE misc/image.tt image=tabimage.over | trim;
		CASE;
			INCLUDE misc/image.tt image=tabimage.up | trim;
	END;
%]</a>