<a href="[% tablink %]">
[% SWITCH variant;
		CASE "down";
			INCLUDE misc/image.tt image=tabimage.down;
		CASE "over";
			INCLUDE misc/image.tt image=tabimage.over;
		CASE;
			INCLUDE misc/image.tt image=tabimage.up;
	END;
%]
</a>